.show{
    position: relative;
    width: 100%;
    margin: 5% auto;
}
.show_img{
    text-align: center;
    width: 100%;
}
.show_img p{
    width: 30%;
    margin: 1% auto;
    font-size: larger;
}
img{
    width: 30%;
    height: 60vh;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.256);
}
.next_btn{
    position:fixed;
    top: 40%;
    left: 25%;
    font-size: 30px;
    border-radius: 15%;
    padding: 1%;
}
.pre_btn{
    position:fixed;
    right: 25%;
    top: 40%;
    font-size: 30px;
    border-radius: 15%;
    padding: 1%;
}